<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd
import sqlalchemy as sql

In [35]:
# Load the data

DF_1 = pd.read_csv('Data/S&P 500.csv', sep=';', parse_dates=[0])

DF_2 = pd.read_csv('Data/ZM.csv', sep=';', parse_dates=[0])

In [15]:
# Connect to server

# String

Server = '194.87.248.66'
DB = 'Research'
Driver = 'SQL Server'
Name = 'Dony'
Password = 'PenisGaming1996'
Connection_str = f'mssql://{Name}:{Password}@{Server}/{DB}?driver={Driver}'

# Connect to SQL server
    
engine = sql.create_engine(Connection_str, echo=False)

Connection = engine.connect()

In [26]:
# Add data

DF_2.to_sql(name='Stock_Zoom', con=Connection, if_exists='append', index=False)

In [37]:
DF_1

           Date  Close/Last Volume     Open     High      Low
0    2021-04-30     4181.17     --  4198.10  4198.10  4174.85
1    2021-04-29     4211.47     --  4206.14  4218.78  4176.81
2    2021-04-28     4183.18     --  4185.14  4201.53  4181.78
3    2021-04-27     4186.72     --  4188.25  4193.35  4176.22
4    2021-04-26     4187.62     --  4185.03  4194.19  4182.36
...         ...         ...    ...      ...      ...      ...
1254        NaT         NaN    NaN      NaN      NaN      NaN
1255        NaT         NaN    NaN      NaN      NaN      NaN
1256        NaT         NaN    NaN      NaN      NaN      NaN
1257        NaT         NaN    NaN      NaN      NaN      NaN
1258        NaT         NaN    NaN      NaN      NaN      NaN

[1259 rows x 6 columns]

In [43]:
# We have empty rows | need to delete them abd empty column - Volume

DF_1.dropna(inplace=True)

DF_1.drop(columns='Volume',inplace=True)

In [45]:
DF_1.to_sql(name='SP500', con=Connection, if_exists='append', index=False)

In [48]:
Connection.close()